@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout_main";
}
@model IEnumerable<NoteBook.Models.Note>    
    <script>
    tinymce.init({
        selector: 'textarea',
        language: 'ru',
        menubar: false,
        statusbar: false,
        toolbar: false
    });
    </script>
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Заметки</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Заметки</li>
        </ol>
        <div class="row">
            @foreach (var b in Model)
            {
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-light text-dark mb-4">
                        <div class="card-body">
                            @b.Title<br><div class="notetext"><textarea name="Note_text" id="Note_text">@b.Note_text</textarea></div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-blck stretched-link" href="/Home/NoteEdit/@b.Id">Открыть</a>
                            @b.Note_date.ToShortDateString()
                            <div class="small text-blck"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-xl-3 col-md-6">
                <div class="card bg-light text-dark mb-4">
                    <div class="card-body">Добавить новую заметку</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-blck stretched-link" href="/Home/NoteAdd">Добавить</a>
                        <div class="small text-blck"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>    