@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout_main";
}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Заметки</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Заметки</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-light text-black mb-4">
                    <div class="card-body">Работа<br>khsjlsfdj sfdjjsdfl 63623 fwhtyewtywey 32723 rfggeyhgjhgjhedgde</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-blck stretched-link" href="#">Открыть</a>
                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">
                        Учёба<br>khsjlsfdj sfdjjsdfl 63623 fwhtyewtywey 32723 rfggeyhgjhgjhedgde</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Открыть</a>
                            12345
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Игры</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Открыть</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Добавить новую заметку</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="/Home/NoteAdd">Добавить</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</main>    