@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout_main";
}
@model NoteBook.Models.Note
<script>
    tinymce.init({
        selector: 'textarea',
        language: 'ru',
    });
</script>
@using (Html.BeginForm("NoteAdd", "Home", FormMethod.Post))
{
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Заметки</h1>
            <label class="small mb-1" for="Note">Наименование заметки</label>
            <input class="form-control py-4" id="Title" name="Title" type="text" placeholder="Введите наименование заметки" />
            <textarea name="Note_text" id="Note_text"></textarea>
            <br>
            <button type="submit" class="btn btn-primary btn-block" style="height:50px;width:100px">Сохранить</button>
        </div>
    </main>
}