@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout_main";
}
@model NoteBook.Models.Note
@using (Html.BeginForm("NoteBookAdd", "Home", FormMethod.Post))
{
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Блокноты</h1>
            <label class="small mb-1" for="Note">Наименование блокнота</label>
            <textarea name="Note_text" id="Note_text"></textarea>            
            <br>
            <button type="submit" class="btn btn-primary btn-block" style="height:50px;width:100px">Сохранить</button>
        </div>
    </main>
}